h1 {
    font-family: "Courier New";
    font-size: 30px;
    font-weight: bold;
    color: #9C27B0;
    text-align: center;
}

#title {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}