<footer class="page-footer font-small blue fixed-bottom">
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="http://robin-rodriguez.simplon-grenoble.fr/" target="_blank"> Robin Rodriguez</a>
  </div>
</footer>