<div class="containerBlock">
    <form [formGroup]="cityForm" class="header">
      <div class="search">
        <input type="text" name="city" class="m-2" formControlName="city" placeholder="Enter City" id="search-txt">
        <button type="submit" (click)="onClick()" id="search-btn" href="#"><i class="fas fa-search"></i></button>
      </div>
    </form>
  
    <main id="main">
      
      <div class="city-icon">
        <div class="city-icon-holder">
            <div id="city-name">{{ city }}</div>
            <img src="http://openweathermap.org/img/w/{{data.weather[0].icon}}.png" alt="">
            <span *ngIf="!data">Choose your city...</span>
            <p *ngIf="data" id="city-descr">
                {{ data.weather[0].description }}
            </p>
        </div>
      </div>
      
      <div class="temperature">
            <h5 class="text-white text-center mt-1">Temperature</h5>
        <div id="temp">{{data.main.temp}}°</div>
      </div>
      
      <div class="humidity">
        <h5 class="text-white text-center mt-1">Humidity</h5>
        <div id="humidity-div">{{data.main.humidity}}%</div>
      </div>
      
    </main>
    
</div>