body{
    background-color: #eee;
  }
  
  .containerBlock{
    width: 700px;
    height: 300px;
    margin:auto;
    border-radius: 25px;
    box-shadow: 0 20px 40px 0px rgba(0,0,0,0.3)
  }
  
  .header {
    height: 20%;
    background-color: #FF9800;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    text-align: center;
    position:relative;
  }
  
  #temp, #humidity-div {
    font-family: "Courier New";
    font-weight: bold;
    font-size: 60px;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .city-icon-holder {
    position:absolute;
    left: 25%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  #city-name {
    font-family: "Courier New";
    font-size: 30px;
    font-weight: bold;
    color: #fff;
  }

  #city-descr {
    font-family: "Courier New";
    font-weight: bold;
    color: #fff;
    text-transform: capitalize;
  }
  
  #icon {
    width:50%;
  }
  
  #main{
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .ap-input{
    width: 80%;
  }

  .search{
    padding-top: 3px;
  }

  .city-icon {
    height: 80%;
    width: 50%;
    border-bottom-left-radius: 25px;
    background-color: #FFC107;
  }
  
  .temperature {
    position: absolute;
    left: 50%;
    top:0%;
    height: 40%;
    width: 50%;
    background-color: #9C27B0;
  }
  
  .humidity {
    height: 40%;
    width: 50%;
    position:absolute;
    left:50%;
    top:40%;
    border-bottom-right-radius: 25px;
    background-color: #E91E63;
  }
  
  #search-btn {
    margin: 5px;
    width: 40px;
    height:40px;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(155, 39, 176, 0);
  }
  
  #search-txt {
    color: red;
    height:30px;
    border-radius: 10px;
    border-style:none;
    outline:none;
    padding-right:1px;
    padding-left:1px;
    text-align:center;
  }
  
  .search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  #search-btn:hover {
      text-decoration: none;
      font-size: 20px;
      background-color: #9C27B0;
      transition-duration: 500ms;
  }

@media only screen and (max-width: 1000px) {
  * {
    orientation: landscape;
  }
  .containerBlock {
    width: 100vw;
    margin: 0;
  }
  .header {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  .humidity {
    border-bottom-right-radius: 0px;
  }
  .city-icon {
    border-bottom-left-radius: 0px;
  }
  html {
    overflow: hidden;
  }
}